.cart{
    margin-top: 100px;
}
.cart-items-tital{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: gray;
    font-size: max(1vw, 12px);
}
.cart-items-item{
    margin: 10px 0;
    color: black;
}
.cart-items-item img{
    width: 50px;
}
.cart hr{
    border: none;
    height: 1px;
    background-color: #e2e2e2;
}
.cart-items-item .cross{
    cursor: pointer;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-total-detail{
    display: flex;
    justify-content: space-between;
    color:#555
}
.cart-total hr{
    margin: 10px 0;
}
.cart-total button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 0;
}
.cart-promocode{
    flex: 1;
}
.cart-promocode p{
    color: #555;
}
.cart-promocode-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background-color: #eaeaea;
}
.cart-promocode-input input{
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    padding: 5px 0;
}
.cart-promocode-input button{
    width: max(10vw, 150px);
    padding: 10px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.no-item{
    display: none;
}
.cart-is-empty{
    text-align: center;
    margin: 100px auto;
    color: #555;
}
.none{
    display: none;
}

@media (max-width:750px){
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
}