.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0;
    background-color: white;
    z-index: 100; */
}

.navbar .logo{
    width: 150px;
    font-size: 24px;
    font-weight: bold;
    color: #ff5722;
}
.navbar-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    color: #49557e;
    cursor: pointer;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar-right button{
    background-color: transparent;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    color: #49557e;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar-right button:hover{
    background-color: tomato;
    color: white;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 50%;
}
@media (max-width: 1050px) {
    .navbar-right{
        gap: 30px;

    }   
    .navbar-right img{
        width: 25px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 16px;
    }
    
    .navbar .logo{

        width: 140px;
    }
    .navbar-right button{
        padding: 8px 25px;
        /* font-size: 14px; */
    }    
}
@media (max-width: 900px) {
    .navbar-right{
        gap: 20px;
    }   
    .navbar-right img{
        width: 20px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    
    .navbar .logo{
        width: 120px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }    
}

.navbar-profile{
    position: relative;
}
.navbar-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;

}
.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}
.navbar-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.navbar-profile-dropdown img{
    width: 20px;
}
.navbar-profile-dropdown li:hover{
    color: tomato;
}

@media (max-width: 750px) {
    .navbar-menu{
        display: none;
    }
}
