
.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw, 330px);
    color:#808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-popup-tital{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-tital img{
    width: 16px;
    border-radius: 50%;
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border:1px solid #e9e9e9;
    padding: 10px;
    border-radius: 4px;
}
.login-popup-container button{
    padding: 10px;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}
/* .login-popup-container button:hover{
    scale: 102%;
} */
.login-popup-container button:active{
    scale: 97%;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.span span{
    cursor: pointer;
    font-weight: 500;
    color: tomato;
}
.span span:active{
    color: rgb(84, 84, 237);
}