.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw, 20px);
    text-align: center;
    font-weight: 500;
}
.app-download-plateforms{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(2vw, 10px);
    cursor: pointer;
}
.app-download-plateforms img{
    width: max(30vw, 120px);
    max-width: 180px;
    height: auto;
    transition: 0.5s;
}
.app-download-plateforms img:hover{
    transform: scale(1.05);
}